div.ribbon {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: #884dff;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items:center;
}

div.menu {
  background-image: linear-gradient(#b3b3b3, white);
  position: fixed;
  width: 15%;
  height: 100%;
  top: 10%;
  left: 0;
  border-right: 2px solid #f2f2f2;
  display: flex;
  flex-direction: column;
}

div.content {
  position: absolute;
  top: 10%;
  left: 15%;
  background-color: white;
  z-index: -1;
  width: 85%;
  height: 90%;
}

div.vertical-line {
  left: 15%;
  top: 10%;
  height: 80%;
  width: 2px;
  background-color: white;
}

div.account-access {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.title-div {
  padding-left: 300px;
  font-family: Yu Gothic, sans-serif;
  font-weight: thin;
  color: white;
  font-size: 35px;
}

.title-div-index{
  padding-left: 100px;
  font-family: Yu Gothic, sans-serif;
  font-weight: thin;
  color: white;
  font-size: 35px;
}



.search-bar {
  background-color: white;
  border: 2px solid white;
  border-radius: 100px;
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.search-icon {
  top: 50%;
  width: 29px;
  height: auto;
  margin-left: 30%;
  margin-top: 20%;
}

.search-box {
    margin-left: 2%;
    width: 95%;
}

.search-input-box {
  width: inherit;
  height: inherit;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

.centered-content-container{
  margin-top: 300px;
  margin-left: 700px;
  width: 200px;
  display: flex;
  justify-content: center;

}

.content-index {
  position: absolute;
  background-color: white;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 85%;
  height: inherit;
}

.lock {
  margin-top: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.lockimg {
  width: 400px;
  height: auto;
}

.texty {
  font-family: sans-serif;
  color: #884dff;
  display: flex;
  align-content: center;
  justify-content: center;
}
.hugetext{
  font-size: 100px;
}
/**************** LOGIN/REGISTER *************************/
.login-wrapper {
  position:absolute;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  top: 25%;
  border: 2px solid #884dff;
  padding: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.form-group label, p {
  font-family: Yu Gothic, sans-serif;
}

.form-group input {
    outline-color: #884dff;
}

.statusmsg {
  position:absolute;
  top: 20%;
    font-family: Yu Gothic, sans-serif;
}


/*********************************************/

.userimg {
  height: 70px;
  width: auto;
  border-radius: 100px;
}

.user-profile-name {
    font-family: Yu Gothic, sans-serif;
    color: white;
    font-size: 20px;
}

/******************************************/

.drop-option {
  padding: 30px;
  font-family: Yu Gothic, sans-serif;
}

.dropper {
  font-family: Yu Gothic, sans-serif;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  outline: none;
}

/*****************************************/

.bookform {
  position: absolute;
  margin-left: 500px;
  margin-top: 50px;
  border: 2px solid #884dff;
  padding: 40px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding-left: 100px;
  padding-right: 100px;
}

/***************************************/

.darkmode-container {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;

}


.darkmode-icon {
  width: 40px;
  height: 40px;
}
